*{
  padding :0px;
  margin: 0px;
}
body{ 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color:lightblue;
  

}
.body{ 
  width: 75%;
  height : 80%;
  background-color: bisque;
  border-radius: 25px;
  box-shadow: 5px 15px 15px  rgba(0, 0, 0, 0.251);
}
.container { 
  display: flex;
}
.container img {
  padding: 10px 10px;
  margin-top: 4px;
}
.container-img-2{ 
  margin-left: 600px;
}
.heading {
   font-family: Ubuntu;
   font-size: 1.4rem;
   font-weight: 700;
   margin-top: 100px;
}
.heading i { 
  color: orangered ;
}
.buttons { 
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 30px;
   
    padding: 10px 10px;
}
.btn-1 {
  height: 40px;
  width: 160px;
  border-radius: 20px;
  border: 2px solid orangered;
  padding: 7px 7px;
  margin: 10px 10px;
  background-color: rgba(255, 166, 0, 0.934);;
  font-size: 1.25rem;
  font-family: Ubuntu;
  font-weight: 600;
  box-shadow: 2px 2px 2px  rgba(0, 0, 0, 0.407);
  margin-left: 50px;
  position: absolute;
  
}
.btn-2 {
  height: 40px;
  width: 160px;
  border-radius: 20px;
  border: 2px solid orangered;
  padding: 7px 7px;
  margin: 10px 10px;
  background-color: rgba(255, 166, 0, 0.934);
  box-shadow: 2px 2px 2px  rgba(0, 0, 0, 0.407);
  font-size: 1.25rem;
  font-weight: 600;
  font-family: Ubuntu;
  margin-left: 50px;
}
.footer{ 
  font-size: 1rem;
  font-family: Ubuntu;
  font-weight: 200;
  color: black;
  margin-top: 175px;
}